@import '../../../css/helpers';

.typeahead {
  @include reset();
  position: relative;
  display: block;

  &__input {
    @include reset();
    width: 100%;
    border: solid 1px black;
  }

  &__popup {
    @include reset();
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    @include reset();
    display: block;
    padding: 5px;
    cursor: pointer;
    background-color: antiquewhite;

    &:hover {
      background-color: azure;
    }
  }
}
